[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2-binary = "*"
djongo = "*"
mysqlclient = "*"
neo4j-driver = "*"
django-allauth = "*"
bootstrap4 = "*"
django-bootstrap4 = "*"

[requires]
python_version = "3.6"
