.center-container {
    text-align: center;
    width: 100%;
}
.left-align-box {
    text-align: left;
    padding: 10px;
    border: 3px groove gray;
    display: inline-block;
}

.right-align-box {
    text-align: left;
    padding: 10px;
    border: 3px groove gray;
    display: inline-block;
}

